* {
    font-family: "Montserrat";
    margin: 0;
}
    
.body {
    background-color: #f4f4f4;
    height: 2253px;
}
.frame {
    background-color: #101010;
    height: 80px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}
.logo {
    width: 50px;
    height: 42px;
    padding: 15px;
}
.section-wrapper {
    margin-right: auto;
    margin-left: auto;
    width: 1440px;
}
.title {
    font-weight: 700;
    font-size: 72px;
    text-align: center;
    color: #303030;
    margin-top: 100px;
    margin-bottom: 100px;
}
.sub-title {
    font-weight: 600;
    font-size: 32px;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;   
} 
.buttons-body {
    display: flex;
    justify-content: center; 
    gap: 10px;
    margin-top: 40px;
}
.button1 {
   display: flex;
   justify-content:center;
   align-items: center;
   font-size:24px;
   font-weight:500;
   color:#020617;
   width:317px;
   height:97px;
   background-color: #ffffff;
   border:1px solid #e2e8f0;
   font-family: "Inter";
}
.button1:hover{
    border-color: #303030;
}
.button2 {
   display: flex;
   justify-content:center;
   align-items: center;
   font-size:24px;
   font-weight:500;
   color:#020617;
   width:317px;
   height:97px;
   background-color:#ffffff;
   border:1px solid #e2e8f0;
   font-family: "Inter";
}
.button2:hover{
    border-color: #303030;
}
.text {
    font-weight: 600;
    font-size: 32px;
    color: #000000;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 1223px;
}
.footer-body {
    background-color: #101010;
    border-top: 1px solid #303030;
    display: flex;
    justify-content: center;
}
.footer-frame {
   background-color: #101010;
   height: 228px;
   display: flex;
   justify-content: space-between;
   align-items: center; 
   width: 1440px;
}
.fb-ig {
    display: flex;
    gap:10px;
    padding:80px 20px;
}
.facebook {
    width: 167px;
    height: 44px;
    border-radius: 4px;
    padding: 10px 20px;
    background-color: #303030;
    display: flex;
    text-align: center;
    align-items: center;
    gap: 10px;  
    text-decoration: none;
}
.facebook:hover{
    background-color: #757070;
}
.facebook-logo {
    width: 24px;
    height: 24px;
}
.facebook-text {
   color: #ffffff;
   font-size: 18px;
   font-weight:700;
   display: flex;
   justify-content: center;
   align-items: center;
}
.instagram{
    width: 167px;
    height: 44px;
    border-radius: 4px;
    padding: 10px 20px;
    background-color: #303030;
    display: flex;
    text-align: center;
    align-items: center;
    gap: 10px;  
    text-decoration: none;
}
.instagram:hover{
    background-color: #757070;
}
.instagram-logo{
    width: 24px;
    height: 24px;
}
.instagram-text{
   color: #FFFFFF;
   font-size: 18px;
   font-weight:700;
   display: flex;
   justify-content: center;
   align-items: center;
}